<!DOCTYPE html>
<html>
  <head>
    <title>{{ app.getName() }}</title>
    <meta charset="UTF-8">
    <!--Import materialize.css-->
    {% block customcss %}
    {% endblock customcss %}
    {% use "base/stylesheets.twig" %}
    {% block stylesheets %}
      {{ parent() }}
      <style>
        .navbar-container {
          max-width: 1140px;
          margin: 0 auto;
          padding:
        }
        .top-navbar {
          height:30px;
          line-height: 30px;
        }
        body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }

        main {
          flex: 1 0 auto;
        }
      </style>
    {% endblock stylesheets %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <header>
    {% block nav %}
      <nav class="top-navbar teal darken-2" >
        <div class="navbar-container">
          <a href="#!" class="left">Contáctenos: +52 (81) 83435058</a>
          <ul class="right hide-on-small-only">
            <li><a href="https://www.twitter.com/cadhac/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/cadhac/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/cadhac/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/user/CADHACtv"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </nav>
      <ul id="acerca_dropdown" class="dropdown-content">
        <li><a href="/sobre_nosotros/acerca">Acerca de nosotros</a></li>
        <li><a href="/sobre_nosotros/derechos_humanos">Derechos humanos</a></li>
        <li><a href="/sobre_nosotros/contacto">Ubicación y contacto</a></li>
      </ul>
      <ul id="noticias_dropdown" class="dropdown-content">
        <li><a href="/noticias/acciones_urgentes">Acciones urgentes</a></li>
        <li><a href="/noticias/comunicados">Comunicados</a></li>
        <li><a href="/noticias/publicaciones">Publicaciones</a></li>
      </ul>
      <nav class="teal main-nav">
        <div class="navbar-container">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">CADHAC</a>
            <a href="#" data-activates="mobile-bar" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#" style="padding-left:15px" class="right hide-on-small-only"><i class="material-icons">search</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="dropdown-button" href="" data-activates="acerca_dropdown" data-beloworigin="true" data-hover="true">Sobre nosotros</a></li>
              <li><a class="dropdown-button" data-activates="noticias_dropdown" data-beloworigin="true" data-hover="true" href="">Noticias</a></li>
              <li><a href="">Desaparecidos/as</a></li>
              <li><a href="">Videos y Fotografías</a></li>
              <li><a href="/donativos" class="orange">Done Ahora</a></li>
            </ul>
            <ul class="side-nav" id="mobile-bar">
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class=" collapsible-header waves-effect waves-teal">Sobre nosotros<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="/sobre_nosotros/acerca">Acerca de nosotros</a></li>
                        <li><a href="/sobre_nosotros/derechos_humanos">Derechos humanos</a></li>
                        <li><a href="/sobre_nosotros/contacto">Ubicación y contacto</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="no-padding">
                <ul class="collapsible collapsible-accordion">
                  <li>
                    <a class=" collapsible-header waves-effect waves-teal">Noticias<i class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                      <ul>
                        <li><a href="/noticias/acciones_urgentes">Acciones urgentes</a></li>
                        <li><a href="/noticias/comunicados">Comunicados</a></li>
                        <li><a href="/noticias/publicaciones">Publicaciones</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
              <li><a href="">Desaparecidos/as</a></li>
              <li><a href="">Videos y Fotografías</a></li>
              <li><a href="/donativos" class="orange">Done Ahora</a></li>
            </ul>
          </div>
        </div>
      </nav>
    {% endblock nav %}
  </header>
  <body>
    {% block content %}
    {% endblock content %}
    <!-- jQuery && Materialize JavaScript -->
    {% use "base/javascripts.twig" %}
    {% block javascripts %}
      {{ parent() }}
    {% endblock javascripts %}
    {% block customjs %}
    {% endblock customjs %}
      <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.carousel.carousel-slider').carousel({
          full_width: true,
        });
        $('select').material_select();
      });
    </script>
  </body>
  <main>
  </main>
  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
      © 2016 Copyright Text
      </div>
    </div>
  </footer>
</html>
