{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel light-green lighten-1">
        <h4 class="center white-text">¿Quién es CADHAC?</h4>
      </div>
    </div>
  </div>
  <p class="flow-text">Somos una organización de la sociedad civil, apartidista y sin fines de lucro, que desde 1993 trabaja por la vigencia de los derechos humanos en Nuevo León.</p>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel green">
        <h4 class="white-text center">¿Qué hace CADHAC?</h4>
      </div>
    </div>
  </div>
  <p class="flow-text">Promovemos y defendemos los derechos humanos de aquellas personas que han sido violentadas en sus defectos.</p>
  <div class="row valign-wrapper">
    <div class="col s12 m6 l4">
      <img class="responsive-img" src="/web/img/cadhac_icon.png">
    </div>
    <div class="col s12 m6 l8">
      <div class="card-panel purple darken-4">
        <p class="flow-text white-text center">Partimos de la convicción de que toda persona puede por sí misma ponerse de pie, siempre y cuando haya un entorno que le favorezca. Así, vamos construyendo ciudadanía, exigiendo y ejerciendo nuestros derechos de manera colectiva.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel green darken-2">
        <h4 class="white-text center">¿Qué situaciones atendemos?</h4>
      </div>
    </div>
  </div>
  <p class="flow-text">Abusos policiacos, militares y penitenciarios; tortura, desapariciones de personas, ejecuciones extrajudiciales, violencia de género, entre otras violaciones a derechos humanos.</p>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel purple darken-4">
        <h4 class="center white-text">¿Cómo trabajamos?</h4>
      </div>
    </div>
  </div>
  <ul class="flow-text">
    <li>- Brindamos intervención jurídica, psicológica, educativa y social a víctimas de violaciones a derechos humanos.</li>
    <li>- Llevamos a cabo trabajo comunitario orientado al ejercicio de los derechos humanos.</li>
    <li>- Realizamos acciones de análisis e incidencia legislativa y de políticas públicas.</li>
    <li>- Impulsamos campañas públicas de sensibilización en derechos humanos.</li>
  </ul>
</div>
{% endblock content %}
