{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel light-green lighten-1">
        <h4 class="center white-text">¿Quiénes somos?</h4>
      </div>
    </div>
  </div>
  <p class="flow-text">AMORES DNL : Agrupación de Mujeres Organizadas por los Ejecutados, Seuestrados y Desaparecidos de NL.</p>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel green">
        <h4 class="white-text center">Acompañamiento Legal</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <img class="responsive-img" src="/web/img/acompanamiento.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel green darken-2">
        <h4 class="white-text center">¿Quiéres saber más o unirte a nuestro grupo?</h4>
      </div>
    </div>
  </div>
  <ul class="flow-text">
    <li>Nos encuentras los domingos cada quince días de 4 a 7 en la Explanada de los Héroes (frente al Palacio de Gobierno).</li>
    <li>Puedes seguir a CADHAC en facebook para estar al tanto de los eventos que realizamos</li>
    <li>Puedes mandarnos un correo aqui.</li>
    <li>Puedes acudir a las oficinas de CADHAC para que te asesoren en el área jurídica y te informen sobre nuestras reuniones (Padre Mier 617, Monterrey, Nuevo León, N.L. CP 64000, México) o marcarnos al teléfono: (81) 83435058.</li>
  </ul>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel purple darken-4">
        <h4 class="center white-text">Fotos</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l8 push-l2 push-m1">
      <div class="carousel carousel-slider" data-indicators="true">
        <a class="carousel-item red white-text">
          <img class="responsive-img" src="/web/img/amores-1.jpg">
        </a>
        <a class="carousel-item red white-text">
          <img class="responsive-img" src="/web/img/amores-2.jpg">
        </a>
        <a class="carousel-item red white-text">
          <img class="responsive-img" src="/web/img/amores-3.jpg">
        </a>
        <a class="carousel-item red white-text">
          <img class="responsive-img" src="/web/img/amores-4.jpg">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
