{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <h4>{{comunicado.titulo|upper}}</h4>
  <div class="row">
    <div class="navbar-container">
      <p class="grey-text left">{{comunicado.fecha|date("d M Y")}}</p>
      <ul>
        <li class="right" style="padding-right:15px;"><a class="blue-text text-darken-4" href="https://www.facebook.com/sharer/sharer.php?u=http://www.cadhac.org/comunicado/dia-internacional-de-las-victimas-de-desaparicion-forzada-exigimos-justicia-y-reparacion-de-dano-para-las-victimas/" onclick="window.open(this.href, '_blank', 'width=700, height=500'); return false;"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
        <li class="right" style="padding-right:15px;"><a class="blue-text" href="https://twitter.com/home?status=http://www.cadhac.org/comunicado/dia-internacional-de-las-victimas-de-desaparicion-forzada-exigimos-justicia-y-reparacion-de-dano-para-las-victimas/" onclick="window.open(this.href, '_blank', 'width=700, height=500'); return false;"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
        <li class="right" style="padding-right:15px;"><a class="red-text text-darken-1" href="https://plus.google.com/share?url=http://www.cadhac.org/comunicado/dia-internacional-de-las-victimas-de-desaparicion-forzada-exigimos-justicia-y-reparacion-de-dano-para-las-victimas/" onclick="window.open(this.href, '_blank', 'width=700, height=500'); return false;"><i class="fa fa-google-plus-official fa-3x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l8 push-m1 push-l2">
      <img class="responsive-img" src="/web/comunicados/{{comunicado.imagen}}">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      {{comunicado.texto|raw}}
    </div>
  </div>
  <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large teal">
      <i class="material-icons">settings</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">mode_edit</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>
</div>
{% endblock content %}

{% block customjs %}
{% endblock customjs %}
