{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <h4>DÍA INTERNACIONAL DE LAS VÍCTIMAS DE DESAPARICIÓN FORZADA: EXIGIMOS JUSTICIA Y REPARACIÓN DE DAÑO PARA LAS VÍCTIMAS</h4>
  <div class="row">
    <div class="navbar-container">
      <p class="grey-text left">30 de Agosto de 2016</p>
      <ul>
        <li class="right" style="padding-right:15px;"><a class="blue-text text-darken-4" href="https://www.facebook.com/sharer/sharer.php?u=http://www.cadhac.org/comunicado/dia-internacional-de-las-victimas-de-desaparicion-forzada-exigimos-justicia-y-reparacion-de-dano-para-las-victimas/" onclick="window.open(this.href, '_blank', 'width=700, height=500'); return false;"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
        <li class="right" style="padding-right:15px;"><a class="blue-text" href="https://twitter.com/home?status=http://www.cadhac.org/comunicado/dia-internacional-de-las-victimas-de-desaparicion-forzada-exigimos-justicia-y-reparacion-de-dano-para-las-victimas/" onclick="window.open(this.href, '_blank', 'width=700, height=500'); return false;"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
        <li class="right" style="padding-right:15px;"><a class="red-text text-darken-1" href="https://plus.google.com/share?url=http://www.cadhac.org/comunicado/dia-internacional-de-las-victimas-de-desaparicion-forzada-exigimos-justicia-y-reparacion-de-dano-para-las-victimas/" onclick="window.open(this.href, '_blank', 'width=700, height=500'); return false;"><i class="fa fa-google-plus-official fa-3x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l8 push-m1 push-l2">
      <img class="responsive-img" src="http://www.cadhac.org/cadhac/wp-content/uploads/IMG_6180.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <p class="flow-text">Hoy se conmemora el Día Internacional de las Víctimas de Desaparición Forzada, jornada en la que en México y el mundo se demanda verdad, justicia y el fin de la impunidad ante las miles de personas que han sido desaparecidas y separadas involuntariamente de sus seres queridos.</p>
      <p class="flow-text">En el país y en Nuevo León vivimos una crisis humanitaria: miles de personas continúan desaparecidas y sus familias han quedado devastadas emocional y económicamente debido a la violencia generada por el crimen organizado y el propio Estado.</p>
      <p class="flow-text">Ante esto, urge que el gobierno de Nuevo León dé respuesta a las diversas necesidades de estas familias, a quienes la reparación del daño les resulta apremiante, en ese sentido es necesaria la real operatividad del Sistema Estatal de Atención a Víctimas y su Comisión Ejecutiva, con un presupuesto, programa y vinculaciones suficientes que le permitan funcionar efectivamente, como lo marca la Ley Estatal de Atención a Víctimas. Asimismo, es imperativo que el Grupo Especializado en Búsqueda Inmediata (GEBI), que actualmente existe en la entidad, opere bajo lo más altos estándares de calidad.</p>
      <p class="flow-text">Si bien la Oficina en México del Alto Comisionado de las Naciones Unidas para los Derechos Humanos destacó ayer en su comunicado las experiencias de trabajo conjunto de búsqueda entre autoridades y familias que tenemos en Nuevo León y Coahuila, es necesario decir que en nuestros registros todavía tenemos más de 800 personas por localizar.</p>
      <p class="flow-text">En Ciudadanos en Apoyo a los Derechos Humanos, A.C., hemos documentado casos de desaparición ocurridos desde 2007 hasta la fecha. En nuestro registro las personas desaparecidas ascienden a 1363, de las cuales 35 corresponden al 2016. Además, se han localizado 159 personas: 72 personas vivas y 87 identificadas por perfiles genéticos. De estas, 151 personas localizadas son casos que pertenecen al estado de Nuevo León y 8 personas de Tamaulipas. En 2016 se han localizado 7 a personas: 2 por perfil genético y 5 personas con vida.</p>
      <p class="flow-text">Hemos tenido avances pero la problemática no ha sido erradicada.</p>
      <p class="flow-text">Seguimos caminando junto a las familias de AMORES con esperanza y fe de que llegaremos a la verdad. Seguimos demandando justicia al Estado y dando seguimiento a los procesos legales, teniendo la convicción de que trabajando junto a las familias encontraremos verdad y justicia.</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block customjs %}
{% endblock customjs %}
