{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <h4>Comunicados</h4>
  <div class="row">
    <div class="col s12 m4 l4">
      <a href="/noticias/comunicados/1">
      <img class="responsive-img" src="http://www.cadhac.org/cadhac/wp-content/uploads/IMG_6180.jpg"></a>
    </div>
    <div class="col s12 m8 l8">
      <a href="/noticias/comunicados/1" class="flow-text black-text"><strong>MAGISTRADOS COMPARTEN VISIONES SOBRE EL RESPETO AL DEBIDO PROCESO </strong></a>
      <p class="grey-text">16 de agosto de 2016</p>
      <p class="flow-text">Ayer por la tarde se llevó a cabo la conferencia “La importancia del debido proceso en contextos de violencia”, [...]</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
      <img class="responsive-img" src="http://www.cadhac.org/cadhac/wp-content/uploads/AwgrHC.jpg">
    </div>
    <div class="col s12 m8 l8">
      <span class="flow-text"><strong>PREOCUPANTE ESTRATEGIA DE SEGURIDAD DEL MUNICIPIO DE SAN NICOLÁS</strong></span>
      <p class="grey-text">16 de agosto de 2016</p>
      <p class="flow-text">Ayer por la tarde se llevó a cabo la conferencia “La importancia del debido proceso en contextos de violencia”, [...]</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
      <img class="responsive-img" src="http://www.cadhac.org/cadhac/wp-content/uploads/IMG_6581.jpg">
    </div>
    <div class="col s12 m8 l8">
      <span class="flow-text"><strong>DÍA INTERNACIONAL DE LAS VÍCTIMAS DE DESAPARICIÓN FORZADA: EXIGIMOS JUSTICIA Y REPARACIÓN DE DAÑO PARA LAS VÍCTIMAS</strong></span>
      <p class="grey-text">16 de agosto de 2016</p>
      <p class="flow-text">Ayer por la tarde se llevó a cabo la conferencia “La importancia del debido proceso en contextos de violencia”, [...]</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
      <img class="responsive-img" src="http://www.cadhac.org/cadhac/wp-content/uploads/image.jpeg">
    </div>
    <div class="col s12 m8 l8">
      <span class="flow-text"><strong>MENSAJE DE MIGUEL SARRE A PROPÓSITO DE LA CONFERENCIA “LA IMPORTANCIA DEL DEBIDO PROCESO EN CONTEXTOS DE VIOLENCIA”</strong></span>
      <p class="grey-text">16 de agosto de 2016</p>
      <p class="flow-text">Ayer por la tarde se llevó a cabo la conferencia “La importancia del debido proceso en contextos de violencia”, [...]</p>
    </div>
  </div>
</div>
{% endblock content %}
