{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel purple darken-4">
        <h4 class="center white-text">¿Qué son los derechos humanos?</h4>
      </div>
    </div>
  </div>
  <p class="flow-text purple-text text-darken-3">Los derechos humanos concretan, en cada momento de la historia, las exigencias de dignidad, libertad e igualdad humanas. Son universales, porque pertenecen a toda persona, sin importar, edad, sexo, ideología, posición social o credo.</p>
  <div class="row valign-wrapper">
    <div class="col s12 m12 l4">
      <img class="responsive-img" src="/web/img/derechos_humanos_1.png">
    </div>
    <div class="col s12 m12 l4">
      <div class="card-panel purple darken-4">
        <p class="flow-text center white-text">Los derechos humanos son aquellos que favorecen la VIDA y dignidad de las personas y colectivos.</p>
      </div>
    </div>
    <div class="col s12 m12 l4">
      <img class="responsive-img" src="/web/img/derechos_humanos_2.png">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel purple darken-4">
        <h4 class="center white-text">¿Cuándo se violan los derechos humanos?</h4>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m6 l8">
      <p class="flow-text purple-text text-darken-3">Cuando un funcionario/a público abusa del poder que tiene para vulnerar o incumplir con la protección que te debe dar.</p>
    </div>
    <div class="col s12 m6 l4">
      <img class="responsive-img" src="/web/img/derechos_humanos_3.png">
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m6 l4">
      <img class="responsive-img" src="/web/img/derechos_humanos_4.png">
    </div>
    <div class="col s12 m6 l8">
      <p class="flow-text purple-text text-darken-3">O bien, cuando la omisión (no actuación) de un funcionario/a público/a permite que se atente contra cualquier derecho.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 l6 push-l3 push-m1">
      <div class="card-panel purple darken-4">
        <h4 class="center white-text">¿Cuál es la diferencia entre un delito, una violación a derechos humanos y una falta administrativa?</h4>
      </div>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m6 l4">
      <img class="responsive-img" src="/web/img/derechos_humanos_5.png">
    </div>
    <div class="col s12 m6 l8">
      <p class="flow-text purple-text text-darken-4">El <strong>delito</strong> lo comet eun particular, y la persona ofendida también es un particular. El papel del Estado es regular la situación: recibir la denuncia, investigar los hechos, sancionar. Ejemplos: robo, violencia familiar, amenazas, homicidio, feminicidio.</p>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m6 l8">
      <p class="flow-text purple-text text-darken-4">En una <strong>violación a derechos humanos</strong> quien comete el acto ofensivo es un funcionario o servidor público. Ejemplos: abusos policiacos, golpes, detenciones arbitrarias, tortura, desapariciones forzadas, ejecuciones extrajudiciales.</p>
    </div>
    <div class="col s12 m6 l4">
      <img class="responsive-img" src="/web/img/derechos_humanos_6.png">
    </div>
  </div>
  <p class="flow-text purple-text text-darken-4">La <strong>falta administrativa</strong> se comete cuando se vulnera una norma administrativa. Son infracciones menores, por ejemplo: orinar en la calle, tomar alcohol en la vía pública, etc.</p>
</div>
{% endblock content %}
