{% extends "base/template.html.twig" %}

{% block nav %}
{% endblock nav %}
{% block content %}
  <div class="container full-height">
    <div class="row full-height" style="margin-bottom: 0px;">
      <div class="col s12 m6 l4 offset-m3 offset-l4 login-wrapper">
        <div class="col s12 m10 offset-m1  z-depth-4 card-panel login">
          <form class="login-form" action="/admin/login" method="POST">
            <div class="row">
              <div class="input-field col s12 center">
                <p class="center"><b>Administrador</b></p>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="username" name="username" type="text">
                <label for="username" name="username">Usuario</label>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="password" name="password" type="password">
                <label for="password">Contraseña</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light col s12 green">Ingresar</a>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s8 m8 l8 offset-s3 offset-m3 offset-l3">
                  <p class="margin right-align medium-small"><a href="/">Regresar</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block endmain %}
{% endblock endmain %}
