{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <h4>Ubicación y contacto</h4>
  <p class="flow-text">Dirección: Padre Mier 617, Monterrey, Nuevo León, N.L. CP 64000, México.</p>
  <div class="row">
    <div class="col s12 m6 l6 push-l3 push-m3">
      <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=cadhac&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=58.425119,113.994141&amp;ie=UTF8&amp;hq=cadhac&amp;hnear=&amp;t=m&amp;ll=25.67549,-100.323672&amp;spn=0.021273,0.022488&amp;z=15&amp;iwloc=A&amp;output=embed" width="100%" height="400px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    </div>
  </div>
  <p class="flow-text"> Teléfono: (81) 83435058 y (81) 83436618</p>
  <span class="flow-text">Email:&nbsp</span><a class="flow-text" href="mailto:cadhac@cadhac.org" target="_top">cadhac@cadhac.org</a>
</div>
{% endblock content %}
