{% extends "base/template.html.twig" %}

{% block content %}
<div class="container">
  <h4>Videos</h4>
  <div class="row">
    <div class="s12">
      <iframe src="http://www.youtube.com/embed/?listType=user_uploads&list=CADHACtv" width="1200" height="680" frameBorder="0"></iframe>
    </div>
  </div>
</div>
{% endblock content %}

{% block customjs %}
{% endblock customjs %}
